<div id="<%= dom_id specification %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Variant:</strong>
    <%= specification.variant_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max op:</strong>
    <%= specification.max_op %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max ap:</strong>
    <%= specification.max_ap %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max ot:</strong>
    <%= specification.max_ot %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max at:</strong>
    <%= specification.max_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max dp:</strong>
    <%= specification.max_dp %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Min op:</strong>
    <%= specification.min_op %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Specs:</strong>
    <%= specification.specs %>
  </div>
</div>
