<div id="<%= dom_id document %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= document.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Format:</strong>
    <%= document.format %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Language:</strong>
    <%= document.language %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= document.product_id %>
  </div>
</div>
