<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rdms" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rdms">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="w-full">
      <div class="absolute top-4 right-4">
        <form method="get" action="<%= request.path %>" class="flex items-center space-x-2">
          <label for="locale" class="sr-only"><%= t("language.select", default: "Select Language") %></label>
          <select name="locale" id="locale" class="border border-gray-300 rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" onchange="this.form.submit()">
            <option value="en" <%= "selected" if I18n.locale == :en %>>English</option>
            <option value="ja" <%= "selected" if I18n.locale == :ja %>>日本語</option>
          </select>
        </form>
      </div>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>